@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: #cc242c;
}

.columns {
  /* border: 2px solid pink; */
}

.heart-svg {
  background-color: transparent;
  width: 75px;
  height: 75px;
}

.timer-wrapper span {
  color: #cc242c;
}

.timer-wrapper .label {
  font-size: 1rem;
}

.timer-wrapper .divider {
  display: flex;
  align-items: center;
}

.section-ctn {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.section {
  scroll-snap-align: start;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.nav {
  z-index: 222;
  position: fixed;
  background: #fff;
}
